<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Mes appareils</h2>
      <p>Mis à jour le {{ lastUpdate | async | date : 'EEEE d MMMM y' | uppercase }}</p>
      <ul class="list-group">
        <app-appareil *ngFor="let appareil of appareils"
                      [appareilName]="appareil.name"
                      [appareilStatus]="appareil.status"></app-appareil>
      </ul>
    </div>
  </div>
  <button class="btn btn-success" 
          [disabled]="!isAuth"
          (click)="onAllumer()">Tout allumer</button>
  <button class="btn btn-danger" 
          [disabled]="!isAuth"
          (click)="onEteindre()">Tout éteindre</button>
</div>