<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Mes appareils</h2>
      <ul class="list-group">
        <app-appareil [appareilName]="appareilOne"   [appareilStatus]="statutApp1"></app-appareil>
        <app-appareil [appareilName]="appareilTwo"   [appareilStatus]="statutApp2"></app-appareil>
        <app-appareil [appareilName]="appareilThree" [appareilStatus]="statutApp3"></app-appareil>      
      </ul>
    </div>
  </div>
  <button class="btn btn-success" 
          [disabled]="!isAuth"
          (click)="onAllumer()">Tout allumer</button>
</div>